{% extends 'main.html' %}

{% block content %}

<main class="container">
    <div class="left-column">
        <div>
            <h4>Total comments -{{ comments_count }}</h4>
            <h4>Total likes  - {{ likes_count }}</h4>
        </div>

        <div>
            <form method="POST" action="#">
                {% csrf_token %}
                <button type="submit" name="like_submit">
                {% if user in message.likes.all %}
                    Unlike message
                {% else %}
                    Like message
                {% endif %}
                </button>
            </form>
        </div>

        {% if user in message.room.admins.all %}
        <div>
            <form method="POST" action="#">
                {% csrf_token %}
                <button type="submit" name="hide_submit">
                    {% if message.hidden_status %}
                        UnHide Message
                    {% else %}
                        Hide Message
                    {% endif %}
                </button>
            </form>
        </div>
        {% endif %}
    </div>
    <div class="middle-column">
        {% if message.title %}
        <h2> {{ message.title }}</h2>
        {% endif %}
        <h4>{{ message.body }}</h4>
        <p>From: <a href="{% url 'user-profile' message.author.id %}"> {{ message.author.username }}</a></p>
        <p>Posted {{ message.created|timesince }} ago</p>
    </div>

    <div class="right-column">
        <section class="card-list">
            <h2>Comments</h2>
            {% for comment in comments %}
                <div class="card">
                    <h4>{{ comment.body }}</h4>
                    <p>Posted: {{ comment.created|timesince }} ago</p>
                    <p>By: <a href="{% url 'user-profile' comment.author.id %}">{{ comment.author.username }}</a></p>
                </div>
            {% endfor %}

            <div>
                <form method="POST" action="#">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" name="comment_submit">Post Comment</button>
                </form>
            </div>
        </section>
    </div>
</main>
{% endblock %}
